body {
    margin: 10;
    padding: 0;
    font-family: sans-serif;
}

.formulario{
    height: 100vh;
    background: linear-gradient(120deg, #e75590, #00C2CB, #e75590);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_container {   
    width: 600px; 
    background-color: #FFF;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.texto_title {
    font-weight: 600;
    margin-bottom: 10rem;
    margin-top: 10rem;
}

.salvar_input {
    margin-top: 20px;
    height: 48px;
    width: 100%;
    outline: none;
    background: rgb(41, 41, 41);
    background-size: 200%;
    margin-bottom: 20px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    border: unset; 
    border-radius: 4px;
    cursor: pointer;
    text-align: center;

}

.input-border {
    height: 5px;
    width: 100%;
    margin-bottom: 2px;
    color: rgb(66, 66, 66);
}